pip uninstall numpy

# pip install ruamel.yaml

pip install pathlib

pip install numpy<2

pip install --upgrade numba

pip install pyqt5<5.13 pyqtwebengine<5.13

pip install --upgrade pip setuptools

pip install pandas

pip install --upgrade pandas --user

pip install pybind11>=2.12

pip install --upgrade numpy --user

conda create --name myenv python=3.x numpy spyder pyqt pyqtwebengine numba
conda activate myenv

pip check

In [1]:
import pandas as pd
import numpy as np

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\Users\admin\anaconda3\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\admin\anaconda3\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "C:\Users\admin\anaconda3\lib\site-packages\traitlets\config\application.py", line 846, in launch_instance
    app.start()
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 677, in start
    self.io_loop.start()
  File "C:\Users\admin\anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\admin\anaconda3\lib\asyncio\base_events.py", line 596, in run_forever
    self._run_once()
  File "C:\Users\admin\anaconda3\lib\asyncio\base_events.py", line 1890, in _run_once
    handle._run()
  File "C:\Users\admin\anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 457, in dispatch_queue
    await self.process_one()
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 446, in process_one
    await dispatch(*args)
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 353, in dispatch_shell
    await result
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 648, in execute_request
    reply_content = await reply_content
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 353, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 533, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2901, in run_cell
    result = self._run_cell(
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2947, in _run_cell
    return runner(coro)
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 68, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3172, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3364, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3444, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\admin\AppData\Local\Temp/ipykernel_4408/2162656668.py", line 1, in <module>
    import pandas as pd
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\__init__.py", line 77, in <module>
    from pandas.core.api import (
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\arrow\array.py", line 50, in <module>
    from pandas.core import (
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\ops\__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\ops\array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\computation\expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\computation\check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\Users\admin\anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\admin\anaconda3\lib\site-packages\numexpr\__init__.py", line 26, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\Users\admin\anaconda3\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\admin\anaconda3\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "C:\Users\admin\anaconda3\lib\site-packages\traitlets\config\application.py", line 846, in launch_instance
    app.start()
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 677, in start
    self.io_loop.start()
  File "C:\Users\admin\anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\admin\anaconda3\lib\asyncio\base_events.py", line 596, in run_forever
    self._run_once()
  File "C:\Users\admin\anaconda3\lib\asyncio\base_events.py", line 1890, in _run_once
    handle._run()
  File "C:\Users\admin\anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 457, in dispatch_queue
    await self.process_one()
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 446, in process_one
    await dispatch(*args)
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 353, in dispatch_shell
    await result
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 648, in execute_request
    reply_content = await reply_content
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 353, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\Users\admin\anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 533, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2901, in run_cell
    result = self._run_cell(
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2947, in _run_cell
    return runner(coro)
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 68, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3172, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3364, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3444, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\admin\AppData\Local\Temp/ipykernel_4408/2162656668.py", line 1, in <module>
    import pandas as pd
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\__init__.py", line 77, in <module>
    from pandas.core.api import (
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\arrow\array.py", line 64, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\masked.py", line 60, in <module>
    from pandas.core import (
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\Users\admin\anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\admin\anaconda3\lib\site-packages\bottleneck\__init__.py", line 2, in <module>
    from .reduce import (

AttributeError: _ARRAY_API not found

In [2]:
print(pd.__version__)

2.2.2

In [3]:
print(np.__version__)

2.0.1

In [4]:
s1=pd.Series([1,2,3,4,'five'],index=['a','b','c','d','e'])

In [5]:
print(s1)

a       1
b       2
c       3
d       4
e    five
dtype: object

In [6]:
s2=pd.Series(["Python","R","C++","JAVA","HTML"], index=[1,2,3,4,5])

In [7]:
s2

1    Python
2         R
3       C++
4      JAVA
5      HTML
dtype: object

In [8]:
s3=pd.Series(["All purpose","Statistical","Base","app","Web"], index=[1,2,3,4,5])

In [9]:
s3

1    All purpose
2    Statistical
3           Base
4            app
5            Web
dtype: object

# DATA FRAME

DETAIL=pd.DataFrame(data,column=[column name])

In [10]:
df1=pd.DataFrame(s2,columns=["programming language"])

In [11]:
df1

  programming language
1               Python
2                    R
3                  C++
4                 JAVA
5                 HTML

In [12]:
df1["Usage"]=s3

In [13]:
df1

  programming language        Usage
1               Python  All purpose
2                    R  Statistical
3                  C++         Base
4                 JAVA          app
5                 HTML          Web

In [14]:
df3=pd.DataFrame(s1,columns=["Purpose"])

In [15]:
df3

  Purpose
a       1
b       2
c       3
d       4
e    five

In [16]:
df1["Purpose"]=s1

In [17]:
df1

  programming language        Usage Purpose
1               Python  All purpose     NaN
2                    R  Statistical     NaN
3                  C++         Base     NaN
4                 JAVA          app     NaN
5                 HTML          Web     NaN

In [18]:
df2=pd.DataFrame(s3,columns=["Usage"])

In [19]:
df2

         Usage
1  All purpose
2  Statistical
3         Base
4          app
5          Web

In [20]:
Fruits={"seed":{1:"Orange",2:"Apple",3:"Watermelon"},"Seedless":{1:"pineapple",2:"Grape",3:"Papppaya"}}

In [21]:
df4=pd.DataFrame(Fruits,columns=["seed","Seedless"])

In [22]:
df4

         seed   Seedless
1      Orange  pineapple
2       Apple      Grape
3  Watermelon   Papppaya

In [23]:
df4.drop("seed",axis=1)

    Seedless
1  pineapple
2      Grape
3   Papppaya

In [24]:
College={"Name":{1:"Ganesh",2:"Hari",3:"Vishnu",4:"Harish"},"Regno":{1:"122012012853",2:"122012012855",3:"122012012857",4:"122012012859"},"Section":{1:"B",2:"A",3:"A",4:"B",}}

In [25]:
df5=pd.DataFrame(College,columns=["Name","Regno","Section"])

In [26]:
df5

     Name         Regno Section
1  Ganesh  122012012853       B
2    Hari  122012012855       A
3  Vishnu  122012012857       A
4  Harish  122012012859       B

# Activity1

Create a dataframe for your class, containing "Name","Reg.no","Year of Study" as column names for 10 students

In [27]:
Class={"Name":{1:"Ganesh",2:"Hari",3:"Vishnu",4:"Harish",5:"Ganesh",6:"Hari",7:"Vishnu",8:"Harish",9:"Arun",10:"jaya"},"Regno":{1:"122012012853",2:"122012012855",3:"122012012857",4:"122012012859",5:"122012012863",6:"122012012875",7:"1220120128657",8:"122012012859",9:"1220120128957",10:"122012012859"},"Year_of_Study":{1:"2",2:"3",3:"4",4:"1",5:"2",6:"3",7:"4",8:"1",9:"2",10:"3"}}

In [28]:
df6=pd.DataFrame(Class,columns=["Name","Regno","Year_of_Study"])

In [29]:
df6

      Name          Regno Year_of_Study
1   Ganesh   122012012853             2
2     Hari   122012012855             3
3   Vishnu   122012012857             4
4   Harish   122012012859             1
5   Ganesh   122012012863             2
6     Hari   122012012875             3
7   Vishnu  1220120128657             4
8   Harish   122012012859             1
9     Arun  1220120128957             2
10    jaya   122012012859             3

df6.drop("",axis=0)

axis=0 is row 
axis=1 is column 

"1" or "8" 
"Name" or "Regno"